.navbar{
    list-style-type:none;
    background-color: rgb(10, 93, 189);
    height: 40px;
    padding-top: 15px;
    border-radius: 10px;
}
.listitm{
    display: inline;

    margin-left: 10px;
    padding: 40px;
    
}
.navlink{
    text-decoration: none;
    font-size: 1.2em;
    color: white;

}

.info{
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;

}
.banar{
     width: 1300px;
       height: 700px;
       background-color: aliceblue;
       margin-left: 100px
    }
 .name{
       text-align: center;
       

}